{% set USER_OBJECTIVE = "USER OBJECTIVE" %}
{% set PLANNER = "Planner" %}
{% set REPLANNER = "Replanner" %}
{% set WORKER = "Worker" %}
{% set RETRIEVAL_WORKER = "Retrieval Worker" %}
{% set ANALYTICS_WORKER = "Analytics Worker" %}
{% set PLOT_WORKER = "Plot Worker" %}
{% set SUMMARIZATION = "Summarization" %}
{% set JOB = "JOB" %}
{% set TASK = "TASK" %}
{% set TASKS = "TASKS" %}
{% set TOOLS = "TOOLS" %}
{% set PLAN = "PLAN" %}
{% set TASK_REJECTED = "TASK REJECTED" %}
{% set HISTORY = "HISTORY" %}
