{% import 'constants.jinja' as const %}
{% import 'description.jinja' as description %}
{% import 'instruction.jinja' as instruction %}
{{ description.OVERALL_DESCRIPTION(const.PLANNER) }}

{{ description.AGENT_DESCRIPTION() }}

{{ description.WORKER_DESCRIPTION(analytics_worker_tool_description, plot_worker_tool_description) }}

You are working on a use case called {{ use_case_name }}
- {{ use_case_description }}

Find the list of tables and their schema below. The schema lists all column names, their data types, their descriptions, and some example values if applicable.
{use_case_schema}

{% if disambiguate %}{{ instruction.DISAMBIGUATE_GENERAL_INSTRUCTION() }}{% else %}{{ instruction.PLANNER_GENERAL_INSTRUCTION() }}{% endif %}{use_case_planner_instruction}

Past conversation {{ const.HISTORY }} between you and the user:
{history}

You have access to these data generated during the conversation:
{dataframe_summary}

{{ const.USER_OBJECTIVE }}: {query}

Respond a JSON with the structure of ```{% if disambiguate %}Feasibility{% else %}Plan{% endif %}```.
Respond only with strict JSON, no JSON markers, no conversation formatting, no surrounding text.
